{% sw_extends '@Storefront/storefront/component/product/quickview/minimal.html.twig' %}

{% block component_product_quickview_minimal_footer_text %}
	<p class="quickview-minimal-footer-description">
		{{ include(template_from_string(page.product.translated.description))|sw_sanitize }}
	</p>
{% endblock %}